/*
Layout
*/


html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction:column;
    height: 100%;
  width: 100%;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    flex: 1 0 auto;
    margin-bottom: 30px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    width: 27%;
}

#buttons {
    display: flex;
    justify-content: flex-end;
}

footer{
    /* margin-top:auto;  */
    /* flex: 0;
     */
     flex-shrink: 0;
     padding-left: 15%;
     padding-right: 15%;
     padding-top: 10px;
     padding-bottom: 10px;
  }

header {
    display: flex;
    /* padding-top: 15px; */
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
}

#logo {
    margin-top: 10px;
}


.user-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}


.help {
    margin-left: 25px;
}

.user_name {

    margin-left: 5px;
}
/* Styles */

#features > ul {
    list-style: none;
    padding: 0px;   
}



#features > ul li:before {
    content: '✓';
    color: #3483fa;
    margin-right: 7px;
}

#features > ul > li {
    margin: 10px 0;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    
}

@font-face {
    font-family: "Proxima Nova";
    src: url("proximanova-regular.woff2") format('woff');
}

body {
    margin: 0px;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    /* background-color: rgb(238 238 238); */
    background-color: #ebebeb;
}

header {
    background-color: #fff159;
    height: 56px;
}

article {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 25px;
}

#logo {
    height: 34px;
    top: 11px;
    width: 134px;
}

.user-menu > span {
    font-size: 14px;
    color: #4f4d37;
}

.photo {
    border-radius: 50%;
    width: 20px;
}

.precio_regular {
    text-decoration: line-through;
    color: #999;
    font-size: 12px;
}

.precio_descuento {
    font-size: 23px;
    line-height: 1em;
}

.descuento {
    vertical-align: 7px;
    color: #39b54a;
    font-size: 14px;
}

#features {
    background-color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 6px;
}

#features > a{
    color: #3483fa;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.3;
    font-size: 14px;
}


#anadir {
    font-weight: 600;
    padding: 16px;
    min-width: 140px;
    font-size: 16px;
    line-height: 1;
    background-color: #3483fa;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    padding: 16px 22px;
    margin-left: 20px;
}

#cancelar {
    background-color: rgb(238 238 238);
    border: 0;
    color: #3483fa;
    font-size: 16px;
    margin-bottom: 2px;
}



.nav-footer-navigation, a, a:link, .nav-footer-navigation a:visited {
    color: #333;
    text-decoration: none;
    padding: 0 8px;
    border: 0;
    font-size: 13px;
    padding-left: 0px;
}

footer {
    background-color: #fff;

}

.nav-footer-copyright, .nav-footer-secondaryinfo {
    color: #999;
    font-size: 12px;
    margin-top: 3px;
}